#---------------------------------------------
# office365 email
#---------------------------------------------
EMAIL_ID=fund@k-fs.co.kr
EMAIL_PW=zaq1@WSX
TENANT_ID=85cd2369-2620-42c4-a6ea-
CLIENT_ID=2c558819-5803-4eb4-a23b-
CLIENT_SECRET=Fl-8Q~ZdG1xqQQpBC~
#---------------------------------------------
# sftp server
#---------------------------------------------
HOST=jskn
PORT=20
SFTP_ID=kdy
SFTP_PW=ka
SFTP_BASE_DIR=/home/kdy987/fund_mail
#---------------------------------------------
# local path
#---------------------------------------------
DATA_DIR="c:\\fund_main\\data"
LOG_DIR="c:\\fund_main\\logs"